# Go build artifacts
pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Go workspace file
go.work

# IDE/editor specific files
.idea/
.vscode/
*.iml

# Dependency directories
vendor/

# Output directories
out/

# Environment variables file
.env

# Logs
*.log
